<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>アークナイツダメージ計算</title>
</head>

<body>
  <form id="damageForm">
    <input type="number" id="hp" placeholder="体力">
    <input type="number" id="ad" placeholder="攻撃力">
    <input type="number" id="ar" placeholder="防御力">
    <input type="number" id="mr" placeholder="術耐性">
    <button type="button" id="calculateButton">計算する</button>
  </form>

  <div id="result"></div>

  
</body>

</html>